.video-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.video-frame {
  height: 200px;
}

#email-link {
  text-decoration: none;
  cursor: pointer;
}

#email-link:hover {
  text-decoration: underline;
}

.jamie-image {
  max-height: 300px;
  
}

.jamie-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}