.video-container {
  width: 75%;
  margin: auto;
}

.video-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.video-frame {
  height: 200px;
}
